[submodule "KSUN"]
	path = KernelSU-Next
	url = https://github.com/pstaniewska/SukiSU-Ultra
	branch = main
	shallow = true
[submodule "BBG"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
	shallow = true
