[submodule "BBG"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
    shallow = true
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/pstaniewska/SukiSU-Ultra.git
	branch = main
